:host {

  .tipping-strategy-wrapper {
    padding: 12px;

    .button-container button {
      width: 100%;
    }

    .tipping-content {
      display: flex;
      flex-direction: column;
      align-items: center;

      .content-section {
        border-top: 1px solid #845ec2;
        padding: 8px 0 12px 0;
        width: 100%;

        h3 {
          margin-top: 8px;
          text-align: center;
        }

        .button-group {
          display: flex;
          justify-content: space-between;
          margin-bottom: 12px;
        }

        .tipping-opportunity, .special-oportunities {
          display: flex;
          justify-content: space-between;
          padding: 6px;

          &:hover {
            color: black;
          }

          input[type=checkbox] {
            transform: scale(1.5);
            accent-color: #845ec2;
          }

          &:nth-of-type(odd) {
            background-color: rgba(255, 255, 255, .5);
          }

          &.number {
            align-self: center;
            width: 120px;
            margin: auto;

            input {
              width: 32px;
              margin: 0 8px;
            }
          }
        }

        .tipping-breakpoint {
          padding: 12px 0;

          &:hover {
            color: black;
          }

          &:nth-of-type(even) {
            background-color: rgba(255, 255, 255, .5);
          }
  
          input {
            width: 40px;
            text-align: center;
  
            &:first-of-type {
              width: 39px;
            }
          }
        }
      }
    }
  }
}